@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Roboto';
    text-align: center;
    box-sizing: border-box;
}

.offers {
    background-color: #FFFFFF;
    padding: 120px 0px;
}

.offers__container {
    width: 1232px;
    margin: 120px auto;
}

.offers__container h2 {
    color: #383838;
    font-size: 40px;
    line-height: 47px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
}

.offers__line {
    width: 100px;
    height: 4px;
    background-color: #F5BD41;
    display: inline-block;
    margin-bottom: 80px;
}

.offered__items {
    display: flex;
    justify-content: space-between;
    margin: 0 -8px;
    padding: 0px 140px;
}

.offer__item {
    padding: 0 8px;
}

.offer__item img {
    margin-bottom: 48px;
}

.offer__item p {
    font-size: 24px;
    font-weight: 400;
}

.homes {
    background-color: #EAF0F9;
    padding: 120px 0px;
    display: flex;
    flex-direction: column;
}

.homes__container {
    margin: 0px 105px;
    width: 1440px;
    align-self: center;
    position: relative;
}

.homes__title {
    color: #383838;
    font-size: 40px;
    line-height: 47px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 105px;
}

.homes__group-items {
    display: flex;
    justify-content: center;

}

.homes__item {
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

.homes__item:nth-child(4) {
    margin-right: 0px;
}

.homes__item p {
    align-self: flex-start;
}

.homes-item__img {
    margin-bottom: 24px;
    height: 296px;
}

.homes-item__title {
    margin-bottom: 24px;
    color: #3077C6;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

.homes-item__location {
    font-weight: 400;
    color: #BFBFBF;
    font-size: 24px;
    line-height: 28px;
}

.arrow__element {
    display: flex;
    background-color: #F3F3F4;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5)

}

.arrow__element img {
    height: 15px;
}

.arrow__wrapper {
    position: absolute;
    top: 50%;
    left: 91.5%;
    z-index: 1;
}

