@import url('./Fonts.css');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container {
    max-width: 1264px;
    padding: 120px 16px;
    margin: 0 auto;
}

.offers {
    background-color: #FFFFFF;
}

.offers-container h2 {
    color: #383838;
    font-size: 40px;
    line-height: 47px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
}

.offers-line {
    width: 100px;
    height: 4px;
    background-color: #F5BD41;
    display: inline-block;
    margin-bottom: 80px;
}

.offered-items {
    display: flex;
    justify-content: center;
    padding: 0 140px;
}

.offer-item {
    width: 25%;
    padding: 0 8px;
}

.offer-item:last-child {
    padding: 0 -8px;
}

.offer-item img {
    margin-bottom: 48px;
    max-width: 100px;
    max-height: 100px;
}

.offer-item p {
    font-size: 24px;
    font-weight: 400;
}

.homes {
    background-color: #EAF0F9;
    display: flex;
    flex-direction: column;
}

.homes-title {
    color: #383838;
    font-size: 40px;
    line-height: 47px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 105px;
}

.homes-group-items {
    display: flex;
    justify-content: center;
    position: relative;
}

.homes-item {
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

.homes-item:nth-child(4) {
    margin-right: 0;
}

.homes-item p {
    align-self: flex-start;
}

.homes-item-img {
    margin-bottom: 24px;
    min-height: 300px;
}

.homes-item-title {
    margin-bottom: 24px;
    color: #3077C6;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

.homes-item-location {
    font-weight: 400;
    color: #BFBFBF;
    font-size: 24px;
    line-height: 28px;
}

.arrow-element {
    display: flex;
    background-color: #F3F3F4;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5)
}

.arrow-element img {
    height: 15px;
}

.arrow-homes {
    position: absolute;
    right: 0;
    top: 33.33%;
    z-index: 1;
    transform: translateX(50%);
}

.reviews-container {
    max-width: 1264px;
    margin: 0 auto;
    padding: 0 16px;
}

.review-title {
    color: #383838;
    font-size: 40px;
    line-height: 47px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 105px;
}

.reviews {
    background-color: #FFFFFF;
    padding-top: 120px;
    margin-bottom: 120px;
}

.review-main-wrapper {
    display: flex;
    justify-content: center;
}

.reviews-items {
    display: flex;
    position: relative;
}

.review-item {
    margin-right: 16px;
}

.review-item:nth-child(3) {
    margin-right: 0;
}

.arrow-reviews {
    margin-right: 0;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 25%;
    transform: translateX(50%);

}

.review-item {
    background-color: #EAF0F9;
}

.review-main-wrap {
    position: relative;
}

.review-item-price {
    background-color: rgba(56, 56, 56, 0.7);
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 500;
    padding: 16px 0 11px 24px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    /*top: 352px;*/
    width: 100%;

}

.review-item-amount {
    text-align: left;
}

.review-amount {
    font-weight: 400;
}

.review-item-wrapper {
    display:flex;
    justify-content: space-between;
}

.review-item-hotel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.review-item-place {
    color: #3077C6;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 500;
    margin: 24px 0 16px 24px;
}

.review-item-location {
    color: #3077C6;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 24px 24px;
}

.review-item-analitics {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.review-item-rating {
    background-color: #10367C;
    color: #FFFFFF;
    font-family: Open Sans, sans-serif;
    display: inline-block;
    border-radius: 7px;
    margin: 24px 24px 8px 0;
}

.review-item-score {
    margin: 4px 11px;
}

.review-item-reviews {
    color: #BFBFBF;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
    margin-right: 24px;
}

.review-item-visitor {
    display: flex;
    margin: 0 0 17px 24px;
}

.review-item-photo{
    margin-right: 16px;
}

.review-item-person {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
}

.review-item-name {
    color: #383838;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 8px;
}

.review-item-country {
    color: #BFBFBF;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
}

.review-item-country img {
    height: 13px;
}

.review-message-wrapper {
    display:flex;
    justify-content: flex-start;
}

.review-item-message {
    text-align: left;
    margin: 0 24px 24px 24px;
}
