@import url('./Fonts.css');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

:root {
    --homes-img-height: 296px;
    --homes-arrow-height: 40px;
    --reviews-arrow-height: 40px;
    --reviews-img-height: 400px;
}

.container {
    max-width: 1264px;
    padding: 120px 16px;
    margin: 0 auto;
}

.top-section {
    background-image: url(../img/Background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 900px;
    width: 100%;
    position: relative;
}

.top-section-wrapper {
    padding-bottom: 0;
    padding-top: 50px;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.top-section-background {
    background-color:rgba(18, 18, 18, 0.25);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-block {
    display: flex;
    justify-content: space-between;
}

.header-item {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    margin-right: 24px;
}

.header-block a {
    text-decoration: none;
    color: #FFFFFF;
}

.header-line-block {
    display: inline-flex;
}

.header-item {
    position: relative;
}

.header-item:after {
    content: "";
    display: none;
    width: 85%;
    height: 4px;
    background-color: #F5BD41;
    margin-top: 12px;
    position: absolute;
    left: 8%;
    bottom: 0;
}

.header-item:hover:after {
    display: block;
}

.header-icons {
    display: flex;
    align-items: flex-start;
}

.header-icons a {
    margin-left: 24px;
}

h1 {
    margin-top: 200px;
    color: #FFFFFF;
    text-align: left;
    font-size: 50px;
    line-height: 60px;
    font-style: normal;
    font-weight: 500;
}

.form-main {
    margin-top: 145px;
    cursor: pointer;
    position: relative;
    /*background-color: #FFFFFF;*/

}

.form-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #F3F3F4;
    border-radius: 8px;
    height: 100%;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #FFFFFF;
}

.form-end-container {
    display: flex;
    justify-content: flex-end;
}

.form-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.5s;
}

.form-content:hover {
    border: 3px solid #F5BD41;
    border-radius: 8px;
    transition: 0.5s;
}

.form-content:hover .label-block {
    position: absolute;
    top: -56px;
    color: #FFFFFF;
    transition: 0.5s;
}

.form-content:hover .input-block {
    display: inline-flex;
    transition: 0.5s;
}

.form-content > .input-block {
    display: none;
    transition: 0.5s;
    align-items: center;
}

.label-block {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    margin: 24px;
    text-align: left;
    width: 100%;
    transition: 0.5s;
 }


.input-block {
    padding: 22px 24px;
    background-color: #FFFFFF;
    border: 3px solid #F3F3F4;
    border-radius: 8px;
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;

}

.input-block > input {
    color: #383838;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    z-index: 2;

}

.input-date {
    width: 50%;
}

.form-destination {
    width: 40%;

}

.user-destination {
    width: 100%;
}

.form-dates {
    width: 35%;
    max-width: 260px;
}

.form-numbers {
    display: flex;
    color: #383838;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    padding: 22px 24px;
    text-align: left;
    background-color: #FFFFFF;
    border: 3px solid #F3F3F4;
    border-radius: 8px;
    align-self: flex-end;
    gap: 5px;
    width: 45%;
    z-index: 2;
}

.button {
    display: flex;
    align-self: flex-end;
    width: 27%;
    z-index: 2;
}

.search-button {
    background-color: #3077C6;
    border: 3px solid #3077C6;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    font-weight: 500;
    padding: 20px 57px;
    display: flex;
    cursor: pointer;
}

.button:hover {
    background-color: #000000;
    color: #F5BD41;
    transition: .5s;
    border: 3px solid #F5BD41;
}

.header-download-app {
    display: flex;
    justify-content: center;
    margin: 120px auto 0;
    padding-bottom: 120px;
}

.header-download-app a {
    text-decoration: none;
    margin-right: 16px;
}

.header-download-app a:last-child{
    margin: 0;
}

.offers {
    background-color: #FFFFFF;
}

.offers-container h2 {
    color: #383838;
    font-size: 40px;
    line-height: 47px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
}

.offers-line {
    width: 100px;
    height: 4px;
    background-color: #F5BD41;
    display: inline-block;
    margin-bottom: 80px;
}

.offered-items {
    display: flex;
    justify-content: center;
}

.offer-item {
    width: 25%;
    padding: 0 8px;
}

.offer-item:last-child {
    padding: 0 -8px;
}

.offer-item img {
    margin-bottom: 48px;
    max-width: 100px;
    max-height: 100px;
}

.offer-item p {
    font-size: 24px;
    font-weight: 400;
}

.homes {
    background-color: #EAF0F9;
    display: flex;
    flex-direction: column;
}

.homes-title {
    color: #383838;
    font-size: 40px;
    line-height: 47px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 105px;
}

.homes-group-items {
    display: flex;
    justify-content: center;
    position: relative;
}

.homes-item {
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

.homes-item:nth-child(4) {
    margin-right: 0;
}

.homes-item p {
    align-self: flex-start;
}

.homes-item-img {
    margin-bottom: 24px;
    min-height: 300px;
}

.homes-item-title {
    margin-bottom: 24px;
    color: #3077C6;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

.homes-item-location {
    font-weight: 400;
    color: #BFBFBF;
    font-size: 24px;
    line-height: 28px;
}

.arrow-element {
    display: flex;
    background-color: #F3F3F4;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    cursor: pointer;
}

.arrow-element img {
    height: 15px;
}

.arrow-homes {
    position: absolute;
    right: 0;
    top: calc((var(--homes-img-height) - var(--homes-arrow-height))/2);
    z-index: 1;
    transform: translateX(60%);
}

.review-title {
    color: #383838;
    font-size: 40px;
    line-height: 47px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 105px;
}

.reviews {
    background-color: #FFFFFF;
}

.review-main-wrapper {
    display: flex;
    justify-content: center;
}

.reviews-items {
    display: flex;
    position: relative;
}

.review-item {
    margin-right: 16px;
}

.review-item:nth-child(3) {
    margin-right: 0;
}

.arrow-reviews {
    margin-right: 0;
    position: absolute;
    z-index: 1;
    right: 0;
    top: calc((var(--reviews-img-height) - var(--reviews-arrow-height))/2);
    transform: translateX(50%);
}

.review-item {
    background-color: #EAF0F9;
}

.review-main-wrap {
    position: relative;
}

.review-item-price {
    background-color: rgba(56, 56, 56, 0.7);
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 500;
    padding: 16px 0 11px 24px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
}

.review-item-amount {
    text-align: left;
}

.review-amount {
    font-weight: 400;
}

.review-item-wrapper {
    display:flex;
    justify-content: space-between;
}

.review-item-hotel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.review-item-place {
    color: #3077C6;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 500;
    margin: 24px 0 16px 24px;
}

.review-item-location {
    color: #3077C6;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 24px 24px;
}

.review-item-analitics {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.review-item-rating {
    background-color: #10367C;
    color: #FFFFFF;
    font-family: Open Sans, sans-serif;
    display: inline-block;
    border-radius: 7px;
    margin: 24px 24px 8px 0;
}

.review-item-score {
    margin: 4px 11px;
}

.review-item-reviews {
    color: #BFBFBF;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
    margin-right: 24px;
}

.review-item-visitor {
    display: flex;
    margin: 0 0 17px 24px;
}

.review-item-photo{
    margin-right: 16px;
}

.review-item-person {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
}

.review-item-name {
    color: #383838;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 8px;
}

.review-item-country {
    color: #BFBFBF;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
}

.review-item-country img {
    height: 13px;
}

.review-message-wrapper {
    display:flex;
    justify-content: flex-start;
}

.review-item-message {
    text-align: left;
    margin: 0 24px 24px 24px;
}

.footer {
    background-color: #10367C;
    color: #FFFFFF;
}

.footer-items-wrapper {
    display: flex;
    margin-bottom: 64px;
}

.footer-items-wrapper ul  {
    width: 33.33%;
    text-align: left;
    margin: 0 8px;
}

.footer-items-wrapper ul:last-child {
    margin-right: 0;
}

.footer a {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
}

.footer a:hover {
    text-decoration: underline;
}

.footer li {
    list-style-type: none;
    margin-bottom: 24px;
}

.footer li:last-child {
    margin-bottom: 0;
}

.footer-text {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
    text-align:left;
}